
@import '/node_modules/codemirror/lib/codemirror.css';
@import '/node_modules/codemirror/theme/dracula.css';
@import '/node_modules/codemirror/theme/eclipse.css';
@import '/node_modules/codemirror/theme/rubyblue.css';
@import '/node_modules/codemirror/theme/blackboard.css';
@import '/node_modules/codemirror/theme/hopscotch.css';
@import '/node_modules/codemirror/theme/icecoder.css';
@import '/node_modules/codemirror/theme/yonce.css';



font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-size: xx-large;
  margin-left: 20px;
  font-variant: unset;
  padding-bottom: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.coderesult {
  font-size: x-large;
  margin-left: 20px;
  font-variant: unset;
  padding-bottom: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  margin-left: 20px;
  padding-bottom: 20px;
}
.problist{
  margin-bottom: 30px;
   margin-left: 20px;
}
.back{
  margin-left: 1350px;
  border: 1px solid rgb(31, 169, 224); background-color: rgba(0,0,0,0); 
  color: rgb(45, 163, 209); padding: 5px;
  border-top-left-radius: 10px; border-bottom-left-radius: 10px;
  border-top-right-radius: 10px; border-bottom-right-radius: 10px;
  font-size: large;
  font-family: monospace;
}
.back2{
  margin-left: 1360px;
  border: 1px solid rgb(31, 169, 224); background-color: rgba(0,0,0,0); 
  color: rgb(45, 163, 209); padding: 5px;
  padding: 5px;
  border-top-left-radius: 10px; border-bottom-left-radius: 10px;
  border-top-right-radius: 10px; border-bottom-right-radius: 10px;
  font-size: large;
  font-family: monospace;
}
.compile{
  margin-left: 1340px;
  margin-top: 30px;
  border: 1px solid black;
  padding: 10px;
  border-top-left-radius: 10px; border-bottom-left-radius: 10px;
  border-top-right-radius: 10px; border-bottom-right-radius: 10px;
  color : black
}
.editor{
  height: 450px;
  overflow: auto;
}
.ment{
  padding : 5px 0px 0px 10px;
  border-radius: 4px;
  border: 3px solid #555;
}
.inn{
  margin-left : 10px;
  margin-bottom: 5px;
  display: inline-block;
  display: -webkit-inline-box;
}
.sel1{
  margin-left:1050px;
}

.sel2{
  margin-left:950px;
}
.no{
  display: none;
}
.yes{
  display: inline-block;
}